<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <meta charset="utf-8">
    <title>Cats Rescue Cliet</title>
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title">
  </head>
  <body>
    <h1>layout</h1>

    <script src="/javascripts/app.js"></script>
  </body>
</html>
